@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */
 .navbar-fixed-top {
  background-color: royalblue!important;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#header {
  background-color:royalblue!important;
}


/*ログインフォーム*/

.label-login {
  margin-top:5px;
}

.btn-login {
  margin-top:10px;
}


/*ユーザー情報テーブル*/

.user-table {
  vertical-align:middle;
  text-aligne:center;
}


/*入力ホーム*/

.label-signup {
  margin-top:5px;
}

.btn-signup {
  margin-top:10px;
}

.label-user--edit {
  margin-top:5px;
} 

.btn-user--edit {
  margin-top:10px;
}

/* ユーザー一覧ページ */

#table-uesrs {
 td {
  vertical-align:middle;
 }
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
  font-style:italic;
  fint-weight:bold;
  
}

h2, h3 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: inherit;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.jumbotron h1 {
  color: inhert;
}

.jumbotron {
  background-color:#fff;
}

.form-control {
  margin-bottom:10px;
}


/*header*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

#logo:hover {
  color: silver;
  text-decoration:none;
}


a:hover {
  color:#337ab7;;
}

* {
  box-sizing:boder-box;
}

.navbar-default .navbar-nav > li > a {
  font-weight:bold;
  color:#fff!important;
  line-height:20px;
  &:hover {
  text-decoration: none;
  background-color:royalblue;
  color:silver!important;
  }
}

/*dropdown*/

li.dropdown-header {
  background-color: rgba(200,200,200,0.5);
  font-weight: bold;
}


.dropdown-header {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #777777;
  backgroud-color:rgba(200,200,200,0.5);
  font-weight:bold;
}

.dropdown-menu > li > a {
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333333;
  &:hover {
    color:silver;
    background-color:royalblue!important;
  }
}

#dropdown-title {
    color:#fff;
    background-color:royalblue!important;
}

.dropdown-menu:hover {
  display: inline-block;
  #dropdown-title {
    backgroun-color:royalblue;
  }  
}  

/*新規作成ページ*/

.form-control {
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.428571429;
  color:#555555;
  border:1px solid #ccc;
  border-radius:4px;
}

textarea {
  resize:vertical;
  overflow:auto;
  margin:0;
}

textarea.form-control {
  height:auto;
}

/*ログインページ*/
.label-login {
  margin-top:5px;
}

.btn-login {
  margin-top:10px;
}

/*ユーザー詳細ぺージ*/
.active {
  text-align:center;
}

h1 {
  margin-bottom:30px;
  margin-top:20px;
  font-weihgt:200;
}

#table-user {
  line-height:5;
}


/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box; /*WebKitベースのブラウザーすべて（Chrome、Safariなど）*/
  -webkit-box-sizing: border-box; /* Firefox */
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
